.container {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px 6px;
  height: 90vh;
}

.entityName {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.span-top {
  vertical-align: top;
}
